*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .container1 {
        background-color: navy;
        height: 70px;
        display: flex;
        
        
       }

    .inner {
        background-color: blue;
        color: white;
        height: 35px;
        display: flex;
        justify-content: space-around;
        gap:15px;
        width: 50%;
        padding-top:10px;
        align-self:center ;
        margin-left: 10px;
    }
/* 2 */
    .container2 {
        background-color: navy;
        height: 70px;
        display: flex;
       }

       .container2 .inner2 {
        width: 100%;
         background-color: blue;
        color: white;
         align-self: center;
        display: flex;
        gap: 500px;
        padding: 10px;
        margin: 10px;
       }

       /* 3 */
.container3{
    background-color: darkblue;
    display: flex;
    /* justify-content: flex-start; */
    padding:10px;
    margin:10px;
}
.container3 .inner1{
    background-color: blue;
    color:azure;
    width: 30%;
    display: flex;
    gap: 40px;
    padding:10px;
}
.container3 .inner2 {
 background-color: rgb(20, 147, 75);
 width: 70%;
 color:azure;
 display: flex;
 gap: 500px;
 padding:10px; 
}
/* 4 */
.container4{
     background-color: darkblue;
    display: flex;
    /* justify-content: flex-start; */
    padding:10px;
    margin:10px;
}
.container4 .inner3{
    background-color: blue;
    color:azure;
    width: 100%;
    display: flex;
    gap: 30px;
    padding:10px;
}
.container4 .inner4 {
 background-color: rgb(20, 147, 75);
 width: 10%;
 color:azure;
 display: flex;
 gap: 200px;
 padding:10px;
}
/* 5 */
.container5{
    background-color: darkblue;
    display: flex;
    justify-content: flex-start;
    padding:10px;
    margin:10px;
}
.container5 .inner5{
    background-color: blue;
    color:azure;
    width: 30%;
    display: flex;
    gap: 150px;
    padding:10px;
   
} 
/* 6 */
.container6{
    background-color: darkblue;
    display: flex;
    /* justify-content: flex-start; */
    padding:10px;
    margin:10px;
}
.container6 .inner6{
    background-color: blue;
    color:azure;
    width: 20%;
    display: flex;
    gap: 60%;
    padding:10px;
    
}
.container6 .inner7 {
 background-color: #fc944a;
 width: 100%;
 color:azure;
 display: flex;
 /* gap: 100%; */
 padding: 10px;
}
/* 7 */
.container7{
    background-color: darkblue;
    display: flex;
    justify-content: flex-start;
    padding:10px;
    margin:10px;
    align-items: space-around;
}
.container7 .inner7{
    background-color: blue;
    color:azure;
    width: 100%;
    display: flex;
    gap: 15%;
    padding:40px;
    /* margin:10px;  */
}
.container7 .inner8 {
 background-color: #fc944a;
 width: 30%;
 color:azure;
 display: flex;
 gap: 10%;
padding:40px ;
}
/* 8 */
.container8{
    background-color: darkblue;
    display: flex;
    
    padding:10px;
    margin:10px;
    flex-direction: column;
}
.container8 .inner8{
    background-color: blue;
    color:azure;
    width: 10%;
    display: flex;
    gap: 20%;
    padding:10px;
    
}
.container8 .inner9 {
 background-color: #fc944a;
 width: 100%;
 color:azure;
 display: flex;
 /* gap: 100%; */
 padding: 10px;
}

/* Assignment 2 */

.Container9 {
   border: 2px solid black;
   width: 620px;
   margin:100px 0 100px 300px;
}

.Container9 img {
    
    width: 200px;
    height: 200px;
    border-radius: 50%;
  
}
.Container9 img:hover {
   transform: scale(1.1);
   transition: 0.1s ease;
}
/* Assignment 3*/

.wrapper{
    width: 700px;
    height:500px;
    background:#e58c7c;
    padding:20px;
    display:flex;
    flex-direction:column;
    gap:20px;
    margin-left: 300px;
    margin-bottom: 100px;
}

/* Header */
.wrapper header{
    background:#7fb8b3;
    height:80px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:28px;
    color:white;
}

/* Main Section */
.wrapper .main{
    flex:1;
    display:flex;
    gap:20px;
}

/* Aside */
.wrapper aside{
    width:25%;
    background:#3f9a96;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    color:white;
}

/* Article */
.wrapper article{
    flex:1;
    background:#e05c4c;
    padding:20px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    color:white;
    font-size:24px;
}

/* Images Row */
.wrapper .images{
    display:flex;
    gap:20px;
}

/* Image Boxes */
.wrapper .image-box{
    flex:1;
    height:150px;
    background:#ddd;
    display:flex;
    align-items:center;
    justify-content:center;
    color:#666;
    font-size:20px;
}

/* Footer */
.wrapper footer{
    background:#7fb8b3;
    height:70px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:24px;
    color:white;
}

/*Assignment 4*/

/* Navbar */
.navbar1{
    background:#e14b2d;
    padding:15px 20px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    border-radius:6px;
    margin: 0 20px 100px 20px;
}

/* Left menu */
.navbar1 .nav-left{
    display:flex;
    align-items:center;
    gap:30px;
    color:white;
}

.navbar1 .nav-left span{
    cursor:pointer;
}

/* Search */
.navbar1 .nav-right{
    display:flex;
    gap:10px;
}

.navbar1 .nav-right input{
    padding:6px 10px;
    border:none;
    border-radius:4px;
    outline:none;
}

.navbar1 .nav-right button{
    padding:6px 14px;
    border:none;
    background:white;
    color:#e14b2d;
    border-radius:20px;
    cursor:pointer;
    font-weight:bold;
}

/* ---------- Media Query ---------- */
@media (max-width:768px){
    .navbar1{
        flex-direction:column;
        align-items:stretch;
        gap:15px;
    }

   .navbar1 .nav-left{
        justify-content:flex-start;
        gap:20px;
    }

    .navbar1 .nav-right{
        width:100%;
    }

    .navbar1 .nav-right input{
        flex:1;
    }
}

/*4*/

.container10{
    margin:auto;
    background:#fff;
    padding:15px;
    display:flex;
    flex-direction:column;
    gap:15px;
    color:#000;
}

/* Header */
.container10 .header{
    background:#E76F51;   /* ORANGE */
    padding:15px;
    text-align:center;
    font-weight:bold;
    height: 100px;
}

/* Main section */
.container10 .main{
    display:flex;
    gap:15px;
    height: 200px;
}

/* Content */
.container10 .content{
    background:#2A9DF4;   /* BLUE */
    padding:15px;
    flex:2;
}

/* Aside container */
.container10 .aside-group{
    display:flex;
    gap:15px;
    flex:1;
}

/* Aside 1 */
.container10 .aside1{
    background:#F4D35E;   /* YELLOW */
    padding:15px;
    flex:1;
}

/* Aside 2 */
.container10 .aside2{
    background:pink;   /* PINK */
    padding:15px;
    flex:1;
}

/* Footer */
.container10 .footer{
    background:#90BE6D;   /* GREEN */
    padding:15px;
    text-align:center;
    font-weight:bold;
    height: 100px;
}

/* ================= TABLET ================= */
@media (max-width:768px){
    .container10 .main{
        flex-direction:column;
    }

    .container10 .aside-group{
        flex-direction:row;
    }
}

/* ================= MOBILE ================= */
@media (max-width:480px){
   .container10 .aside-group{
        flex-direction:column;
    }
}

/*Assignment 6*/

/* Wrapper */
.container11{
    width:auto;
    margin:100px 10px 100px 10px;
}

/* Header */
.container11 .header{
    background:#6A1B9A;   /* purple */
    color:white;
    text-align:center;
    padding:20px;
    font-size:22px;
    font-weight:bold;
    margin-bottom:20px;
    height: 100px;
}

/* Articles container */
.container11 .articles{
    display:flex;
    gap:20px;
}

/* Article box */
.container11 .article{
    background:#4DD0E1;   /* cyan */
    padding:20px;
    flex:1;
    height: 200px;
}

.container11 .article h3{
    margin-bottom:10px;
}

/* ---------- Mobile View ---------- */
@media (max-width:768px){
    .container11 .articles{
        flex-direction:column;
    }
}